.bg-dark{
	background-color: rgba(0, 0, 0, 0.7);
	width: 100%;
	height: 659px;
	max-height: 100%;
}
.bg-img{
	background-image: url(../img/Imágenes-de-paisajes-hermosos.jpg);
	width: 100%;
}
li{
	list-style: none;
	overflow: hidden;
}
#paises{
	padding: 5px 30px;
	background-color: rgba(176, 137, 38, 0.5);
	color: whitesmoke;
	border-radius: 10px;
	font-weight: bolder;
	margin: 5% auto;

}
.reloj{
	margin: 3% auto;
	text-align: center;
}
.opcion{
	display: none;
}
#fecha{
	max-width:100%;	
	max-height: 100%;
	font-size: 30px;
	font-weight: bolder;
	color: #B08926;
	display: inline;
	margin: 5% auto;
	text-align: center;
}
#hora{
	max-width:200px;	
	max-height: 200px;
	font-size: 30px;
	font-weight: bolder;
	color: #B08926;
	display: inline;
}
#minutos{
	max-width:200px;	
	max-height: 200px;
	font-size: 30px;
	font-weight: bolder;
	color: #B08926;
	display: inline;
}
#segundos{
	max-width:200px;	
	max-height: 200px;
	font-size: 30px;
	font-weight: bolder;
	color: #B08926;
	display: inline;
}
.separacion{
	max-width:100px;
	max-height: 200px;
	font-size: 30px;
	font-weight: bolder;
	color: #B08926;
	display: inline;
}